*.xcscheme

*.xcuserstate

*.apk

*.class

*.d

*.o

*.a

*.aidl

*.store

*.xcbkptlist

*.obj

*.tlog

*.pdb


*.sdf


*.log


*.idb

*.suo
*.so
*.so
*.opensdf
*.py

src/FlyingCat/cocos2d
src/FlyingCat/proj.android/bin/*
src/FlyingCat/proj.android/assets/*
src/FlyingCat/cocos2d/*
src/FlyingCat/proj.win32/Debug.win32/*